# System
**/.DS_Store

# Editor
**/*.asv

# KSSOLV Toolbox Project files
**/*.ks

# Test Data Directory
data/

# P-Code files
**/*.p

# MATLAB Toolbox file
*.mltbx

# MATLAB Buildtool
.buildtool/

# Debug scipts
dev/
Untitled*

# Build Output
StandaloneDesktopApp/
Toolbox/
Release/
frontend/node_modules/
frontend/apps/*/node_modules/
frontend/apps/*/dist/

# Environment variable configurations
.env

# Code Analyzer
derived/
